{% extends "adminbase.html" %}

{% block body %}
<h1>Admin</h1>
<p>
</p>
<ul>
	<li><a href="/Offline/downloadFeed">Manually download feed</a></li>
	<li><a href="/Offline/processFeeds">Process yesterday's feeds</a></li>
	<li>
		<form action="/Offline/processFeeds" method="post">
			Process feeds for:
			<select name="year">
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
			</select>
			<select name="month">
				<option value="01">Jan</option>
				<option value="02">Feb</option>
				<option value="03">Mar</option>
				<option value="04">Apr</option>
				<option value="05">May</option>
				<option value="06">Jun</option>
				<option value="07">Jul</option>
				<option value="08">Aug</option>
				<option value="09">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
			<select name="day">
				{% for d in days %}
				<option value="{{ d }}">{{ d }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Go" />
		</form>
	<li><a href="_ah/admin">Dev server admin console</a></li>
</ul>
{% endblock %}
